# EWM(지수이동평균) 직접 만들기

In [3]:
import FinanceDataReader as fdr

df = fdr.DataReader("005930", start="2021")

df["Close"]

Date
2021-01-04     83000
2021-01-05     83900
2021-01-06     82200
2021-01-07     82900
2021-01-08     88800
               ...
2026-01-26    152100
2026-01-27    159500
2026-01-28    162400
2026-01-29    160700
2026-01-30    160500
Name: Close, Length: 1246, dtype: int64

In [8]:
df = df[["Close"]]
df

             Close
Date
2021-01-04   83000
2021-01-05   83900
2021-01-06   82200
2021-01-07   82900
2021-01-08   88800
...            ...
2026-01-26  152100
2026-01-27  159500
2026-01-28  162400
2026-01-29  160700
2026-01-30  160500

[1246 rows x 1 columns]

In [16]:
N = 9
weight = 2 / (1 + N)
print(weight)

ewm_values = [float(df["Close"].iloc[0])]
for index in range(len(df["EWM"]) - 1):
    val1 = df["Close"].iloc[index + 1] * weight
    val2 = ewm_values[index] * (1 - weight)
    ewm_values.append(val1 + val2)

df["EWM"] = ewm_values
df["EWM"]

0.2

Date
2021-01-04     83000.000000
2021-01-05     83180.000000
2021-01-06     82984.000000
2021-01-07     82967.200000
2021-01-08     84133.760000
                  ...
2026-01-26    147786.451998
2026-01-27    150129.161598
2026-01-28    152583.329278
2026-01-29    154206.663423
2026-01-30    155465.330738
Name: EWM, Length: 1246, dtype: float64

In [17]:
def ewm_fn(df, window):
    df = df.copy()

    weight = 2 / (1 + window)

    ewm_values = [float(df["Close"].iloc[0])]
    for index in range(len(df["EWM"]) - 1):
        val1 = df["Close"].iloc[index + 1] * weight
        val2 = ewm_values[index] * (1 - weight)
        ewm_values.append(val1 + val2)

    df["EWM"] = ewm_values
    return df[["EWM"]]

In [18]:
df_ewm = ewm_fn(df, window=9)
df_ewm

                      EWM
Date
2021-01-04   83000.000000
2021-01-05   83180.000000
2021-01-06   82984.000000
2021-01-07   82967.200000
2021-01-08   84133.760000
...                   ...
2026-01-26  147786.451998
2026-01-27  150129.161598
2026-01-28  152583.329278
2026-01-29  154206.663423
2026-01-30  155465.330738

[1246 rows x 1 columns]