# (부록) 미국주식 및 KOSPI Index 추가하기

In [1]:
def stockDataReader_fn(
    stock_name, c_code="K", index=False, start_date=None, end_date=None
):
    import FinanceDataReader as fdr
    import datetime
    import os
    import pandas as pd

    if c_code == "A":
        stock_df = fdr.DataReader(stock_name, start_date, end_date)
        return stock_df
    elif c_code == "K" and index:
        stock_df = fdr.DataReader("KS11", start_date, end_date)
        return stock_df
    else:
        # 1. 저장 파일 형식에 필요한 Data 불러오기
        today_year = datetime.datetime.today().year
        today_month = datetime.datetime.today().month
        today_day = datetime.datetime.today().day

        # 2. KRX 종목 DataFrame 존재 여부 확인
        csv_path = "krx_df_{}_{}_{}.csv".format(today_year, today_month, today_day)

        if os.path.isfile(csv_path):
            krx_df = pd.read_csv(csv_path)
        else:
            krx_df = fdr.StockListing("KRX")
            krx_df.to_csv(csv_path)

        # 3. 종목 코드 찾기
        if stock_name in krx_df["Name"].values:
            stock_symbol = krx_df[krx_df["Name"] == stock_name]["Code"].values[0]
        else:
            print("해당 종목이 없습니다.")
            raise "해당 종목이 없습니다."

        stock_df = fdr.DataReader(stock_symbol, start=start_date, end=end_date)
        return stock_df

In [3]:
df = stockDataReader_fn("FB", c_code="A", index=False, start_date="2020")
df

                 Open       High        Low      Close  Volume  Adj Close
2025-06-26  40.139999  40.189999  39.910000  39.910000   36700  39.543800
2025-06-27  40.150002  40.369999  40.150002  40.249001   11300  39.879688
2025-06-30  40.450001  40.570000  40.299999  40.473999   28700  40.102623
2025-07-01  40.362000  41.404999  40.320000  40.394001   11300  40.023361
2025-07-02  40.311001  40.360001  40.240002  40.250000   50300  39.880684
...               ...        ...        ...        ...     ...        ...
2026-02-09  42.542000  42.542000  42.542000  42.542000     100  42.542000
2026-02-10  42.540001  42.540001  42.540001  42.540001     200  42.540001
2026-02-11  42.480000  42.490002  42.480000  42.490002     400  42.490002
2026-02-12  42.283001  42.283001  42.283001  42.283001     300  42.283001
2026-02-13  42.330002  42.330002  42.330002  42.330002     200  42.330002

[161 rows x 6 columns]

In [4]:
df = stockDataReader_fn("AAPL", c_code="A", index=False, start_date="2020")
df

,Open,High,Low,Close,Volume,Adj Close
2019-12-31,72.482498,73.419998,72.379997,73.412498,100805600,70.785446
2020-01-02,74.059998,75.150002,73.797501,75.087502,135480400,72.400520
2020-01-03,74.287498,75.144997,74.125000,74.357498,146322800,71.696625
2020-01-06,73.447502,74.989998,73.187500,74.949997,118387200,72.267944
2020-01-07,74.959999,75.224998,74.370003,74.597504,108872000,71.928055
...,...,...,...,...,...,...
2026-02-09,277.910004,278.200012,271.700012,274.619995,44623400,274.619995
2026-02-10,274.890015,275.369995,272.940002,273.679993,34376900,273.679993
2026-02-11,274.700012,280.179993,274.450012,275.500000,51931300,275.500000
2026-02-12,275.589996,275.720001,260.179993,261.730011,81077200,261.730011
2026-02-13,262.010010,262.230011,255.449997,255.779999,56229900,255.779999

In [5]:
df = stockDataReader_fn("KOSPI", c_code="K", index=True, start_date="2020")
df

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2020-01-02,2201.21,2202.32,2171.84,2175.17,494677752,-0.0102,2,-22.50,4638167309579,1461424793589993
2020-01-03,2192.58,2203.38,2165.39,2176.46,631562785,0.0006,1,1.29,5763662746548,1462298971774498
2020-01-06,2154.97,2164.42,2149.95,2155.07,592670719,-0.0098,2,-21.39,5156540935534,1448385085188395
2020-01-07,2166.60,2181.62,2164.27,2175.54,568235609,0.0095,1,20.47,5143511908278,1462298814406954
2020-01-08,2156.27,2162.32,2137.72,2151.31,913830628,-0.0111,2,-24.23,8750722208310,1446631314388659
...,...,...,...,...,...,...,...,...,...,...
2026-02-09,5299.10,5322.35,5265.08,5298.04,617657784,0.0410,1,208.90,26454138847440,4374057800206435
2026-02-10,5350.21,5363.62,5286.67,5301.69,712267871,0.0007,1,3.65,23275929869547,4376615585478883
2026-02-11,5293.75,5374.23,5257.53,5354.49,753767377,0.0100,1,52.80,25625896916781,4421255293234541
2026-02-12,5425.39,5522.27,5399.52,5522.27,750614562,0.0313,1,167.78,32322625268341,4560825989035452
2026-02-13,5513.71,5583.74,5480.92,5507.01,1290658558,-0.0028,2,-15.26,30820998931626,4553532159039352

In [6]:
df = stockDataReader_fn("삼성전자", c_code="K", index=False, start_date="2020")
df

              Open    High     Low   Close    Volume    Change
Date
2020-01-02   55500   56000   55000   55200  12993228 -0.010753
2020-01-03   56000   56600   54900   55500  15422255  0.005435
2020-01-06   54900   55600   54600   55500  10278951  0.000000
2020-01-07   55700   56400   55600   55800  10009778  0.005405
2020-01-08   56200   57400   55900   56800  23501171  0.017921
...            ...     ...     ...     ...       ...       ...
2026-02-09  168600  168700  165000  166400  25098971  0.049180
2026-02-10  167400  168100  165500  165800  19369566 -0.003606
2026-02-11  164000  168600  162000  167800  22760242  0.012063
2026-02-12  171200  179600  170100  178600  41296011  0.064362
2026-02-13  179500  184400  178900  181200  33452154  0.014558

[1504 rows x 6 columns]

In [7]:
df = stockDataReader_fn("LG전자", c_code="K", index=False, start_date="2020")
df

              Open    High     Low   Close    Volume    Change
Date
2020-01-02   71800   72100   71000   71000    284758 -0.015257
2020-01-03   71400   71900   70800   71100    369493  0.001408
2020-01-06   70300   70500   69600   69900    337026 -0.016878
2020-01-07   69800   70600   69800   70300    265311  0.005722
2020-01-08   70300   70300   67000   67500    937438 -0.039829
...            ...     ...     ...     ...       ...       ...
2026-02-09  101200  103200  100100  102600    899239  0.034274
2026-02-10  103300  104700  102500  104000   1117921  0.013645
2026-02-11  106500  128700  106400  127900  13160492  0.229808
2026-02-12  127800  127800  119000  121400   5121457 -0.050821
2026-02-13  117900  119700  116100  117200   2261854 -0.034596

[1504 rows x 6 columns]