# 1. FinanceDataReader

- 설명홈페이지 : https://github.com/FinanceData/FinanceDataReader
- 설치 : `pip install finance-datareader`

## 1.1 FinanceDataReader실행

In [1]:
import FinanceDataReader as fdr

## 1.2 개별종목불러오기

- 삼성전자 (005930)
- SK하이닉스 (000660)

In [2]:
df = fdr.DataReader("005930")

In [3]:
df.shape

(3000, 6)

In [4]:
df

              Open    High     Low   Close    Volume    Change
Date
2013-11-06   29959   29959   28979   29020    244368       NaN
2013-11-07   29020   29080   28500   28740    260136 -0.009649
2013-11-08   28220   28560   28140   28200    273627 -0.018789
2013-11-11   28500   28680   28180   28560    171277  0.012766
2013-11-12   28800   29320   28719   29120    195698  0.019608
...            ...     ...     ...     ...       ...       ...
2026-01-20  148500  149300  143900  145200  24059218 -0.027461
2026-01-21  141900  149800  141800  149500  31703610  0.029614
2026-01-22  155000  157000  150800  152300  32073624  0.018729
2026-01-23  154700  156000  150100  152100  25407497 -0.001313
2026-01-26  154900  156400  151500  152100  20285661  0.000000

[3000 rows x 6 columns]

In [5]:
df = fdr.DataReader("000660", start="2020")
df

              Open    High     Low   Close   Volume    Change
Date
2020-01-02   96000   96200   94100   94700  2342070  0.006376
2020-01-03   96500   97900   94300   94500  3021380 -0.002112
2020-01-06   93000   95300   92800   94300  2577573 -0.002116
2020-01-07   94500   95400   94000   94000  2489429 -0.003181
2020-01-08   96400   99500   95200   97400  7014748  0.036170
...            ...     ...     ...     ...      ...       ...
2026-01-20  764000  764000  737000  743000  2762369 -0.027487
2026-01-21  729000  756000  728000  740000  5108442 -0.004038
2026-01-22  766000  773000  751000  755000  3545309  0.020270
2026-01-23  754000  776000  744000  767000  3508272  0.015894
2026-01-26  753000  754000  736000  736000  3024618 -0.040417

[1490 rows x 6 columns]

## 1.3 한국거래소 종목정보 불러오기

In [6]:
stocks = fdr.StockListing("KRX")

In [7]:
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,152100,3,0,0.00,154900,156400,151500,20561689,3148408004773,900376927936200,5919637922,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,736000,2,-31000,-4.04,753000,754000,736000,3133330,2334468107336,535809740640000,728002365,STK
2,005380,KR7005380001,현대차,KOSPI,,492500,2,-17500,-3.43,499000,515000,490000,3680159,1838776025766,100843199755000,204757766,STK
3,373220,KR7373220003,LG에너지솔루션,KOSPI,,416000,1,4000,0.97,415000,422000,411000,323197,134168680750,97344000000000,234000000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,110900,2,-400,-0.36,111300,112700,108600,3650823,402932769700,90491590237600,815974664,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,149300,KR7149300006,아퓨어스,KONEX,일반기업부,45,3,0,0.00,40,49,39,265462,10559343,2046881340,45486252,KNX
2887,288490,KR7288490006,나라소프트,KONEX,일반기업부,105,0,0,0.00,0,0,0,0,0,1834515585,17471577,KNX
2888,217320,KR7217320001,썬테크,KONEX,일반기업부,1700,1,86,5.33,1620,1700,1620,20,33200,1785000000,1050000,KNX
2889,279060,KR7279060008,이노벡스,KONEX,일반기업부,115,0,0,0.00,0,0,0,0,0,1127904590,9807866,KNX
2890,001140,KR7001140003,국보,KOSPI,,14,2,-71,-83.53,61,61,14,17897808,562475104,221989432,15856388,STK

In [8]:
import time

t1 = time.time()
stocks = fdr.StockListing("KRX")
t2 = time.time()

print(t2 - t1)

0.5119161605834961

## 2. 종목코드에 해당하는 종목 찾기

In [10]:
import FinanceDataReader as fdr

stock_info = fdr.StockListing("KRX")
stock_info

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,152100,3,0,0.00,154900,156400,151500,20561689,3148408004773,900376927936200,5919637922,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,736000,2,-31000,-4.04,753000,754000,736000,3133330,2334468107336,535809740640000,728002365,STK
2,005380,KR7005380001,현대차,KOSPI,,492500,2,-17500,-3.43,499000,515000,490000,3680159,1838776025766,100843199755000,204757766,STK
3,373220,KR7373220003,LG에너지솔루션,KOSPI,,416000,1,4000,0.97,415000,422000,411000,323197,134168680750,97344000000000,234000000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,110900,2,-400,-0.36,111300,112700,108600,3650823,402932769700,90491590237600,815974664,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,149300,KR7149300006,아퓨어스,KONEX,일반기업부,45,3,0,0.00,40,49,39,265462,10559343,2046881340,45486252,KNX
2887,288490,KR7288490006,나라소프트,KONEX,일반기업부,105,0,0,0.00,0,0,0,0,0,1834515585,17471577,KNX
2888,217320,KR7217320001,썬테크,KONEX,일반기업부,1700,1,86,5.33,1620,1700,1620,20,33200,1785000000,1050000,KNX
2889,279060,KR7279060008,이노벡스,KONEX,일반기업부,115,0,0,0.00,0,0,0,0,0,1127904590,9807866,KNX
2890,001140,KR7001140003,국보,KOSPI,,14,2,-71,-83.53,61,61,14,17897808,562475104,221989432,15856388,STK

In [11]:
stock_name = "삼성전자"
stock_info["Name"] == stock_name

0        True
1       False
2       False
3       False
4       False
        ...
2886    False
2887    False
2888    False
2889    False
2890    False
Name: Name, Length: 2891, dtype: bool

In [13]:
stock_info[stock_info["Name"] == stock_name]["Code"].values[0]

'005930'

In [ ]:
# 종목코드에 해당하는 종목 찾기
stock_name = "CJ제일제당"
stock_name in stock_info["Name"].values

True

In [ ]:
# 종목이 있는 경우 종목코드 출력, 없는 경우 안내문구 출력
if stock_name in stock_info["Name"].values:
    stock_symbol = stock_info[stock_info["Name"] == stock_name]["Code"].values[0]
else:
    print("해당 종목이 없습니다.")

'097950'

In [ ]:
df = fdr.DataReader(stock_symbol, start="2026")
df

              Open    High     Low   Close  Volume    Change
Date
2026-01-02  208500  208500  205500  207000   55105 -0.004808
2026-01-05  207500  208000  206000  206500   49524 -0.002415
2026-01-06  206500  207500  205000  205500   59350 -0.004843
2026-01-07  205000  205500  200500  203000  118124 -0.012165
2026-01-08  201500  204000  200000  203500   87553  0.002463
2026-01-09  204500  208500  203500  207500   80331  0.019656
2026-01-12  209000  210500  205500  210000   57126  0.012048
2026-01-13  210000  213000  209000  212000   74793  0.009524
2026-01-14  212500  214000  209500  213500   68269  0.007075
2026-01-15  213000  213500  210000  211500   66496 -0.009368
2026-01-16  211000  212500  208500  208500   55083 -0.014184
2026-01-19  208500  209000  206500  207500   51904 -0.004796
2026-01-20  207500  214000  207000  213000   77342  0.026506
2026-01-21  211500  213000  208500  213000   69106  0.000000
2026-01-22  213000  215500  211000  215500   82061  0.011737
2026-01-23  215000  215500  213000  215500   48974  0.000000
2026-01-26  215000  217000  212500  213000   48124 -0.011601

In [2]:
import datetime

today_year = datetime.datetime.today().year
today_month = datetime.datetime.today().month
today_day = datetime.datetime.today().day

print(today_year, today_month, today_day)

2026 1 28

In [5]:
import FinanceDataReader as fdr

krx_df = fdr.StockListing("KRX")
krx_df

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,159500,1,7400,4.87,150500,159500,149200,29423670,4565457606491,944182248559000,5919637922,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,800000,1,64000,8.70,738000,800000,733000,5660198,4383477685500,582401892000000,728002365,STK
2,005380,KR7005380001,현대차,KOSPI,,488500,2,-4000,-0.81,473000,499000,469000,4492400,2182085557000,100024168691000,204757766,STK
3,373220,KR7373220003,LG에너지솔루션,KOSPI,,408500,2,-7500,-1.80,410000,416500,404500,330244,135299042750,95589000000000,234000000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,113800,1,2900,2.61,109300,114100,107900,4200985,468702643850,92857916763200,815974664,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2883,032685,KR7032681009,소프트센우,KOSDAQ,중견기업부,6640,2,-70,-1.04,6670,6720,6600,177,1174090,2371422880,357142,KSQ
2884,217320,KR7217320001,썬테크,KONEX,일반기업부,1800,1,100,5.88,1600,1800,1600,125,212300,1890000000,1050000,KNX
2885,288490,KR7288490006,나라소프트,KONEX,일반기업부,105,0,0,0.00,0,0,0,0,0,1834515585,17471577,KNX
2886,149300,KR7149300006,아퓨어스,KONEX,일반기업부,39,5,-6,-13.33,40,43,39,187380,7448157,1773963828,45486252,KNX
2887,279060,KR7279060008,이노벡스,KONEX,일반기업부,115,0,0,0.00,0,0,0,0,0,1127904590,9807866,KNX

In [6]:
krx_df.to_csv("krx_df_{}_{}_{}.csv".format(today_year, today_month, today_day))

In [7]:
import os

os.path.isfile("krx_df_{}_{}_{}.csv".format(today_year, today_month, today_day))

True

In [10]:
import pandas as pd

if os.path.isfile("krx_df_{}_{}_{}.csv".format(today_year, today_month, today_day)):
    krx_df = pd.read_csv(
        "krx_df_{}_{}_{}.csv".format(today_year, today_month, today_day)
    )
else:
    krx_df = fdr.StockListing("KRX")
    krx_df.to_csv("krx_df_{}_{}_{}.csv".format(today_year, today_month, today_day))

In [11]:
krx_df

,Unnamed: 0,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,0,005930,KR7005930003,삼성전자,KOSPI,NaN,159500,1,7400,4.87,150500,159500,149200,29423670,4565457606491,944182248559000,5919637922,STK
1,1,000660,KR7000660001,SK하이닉스,KOSPI,NaN,800000,1,64000,8.70,738000,800000,733000,5660198,4383477685500,582401892000000,728002365,STK
2,2,005380,KR7005380001,현대차,KOSPI,NaN,488500,2,-4000,-0.81,473000,499000,469000,4492400,2182085557000,100024168691000,204757766,STK
3,3,373220,KR7373220003,LG에너지솔루션,KOSPI,NaN,408500,2,-7500,-1.80,410000,416500,404500,330244,135299042750,95589000000000,234000000,STK
4,4,005935,KR7005931001,삼성전자우,KOSPI,NaN,113800,1,2900,2.61,109300,114100,107900,4200985,468702643850,92857916763200,815974664,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2883,2883,032685,KR7032681009,소프트센우,KOSDAQ,중견기업부,6640,2,-70,-1.04,6670,6720,6600,177,1174090,2371422880,357142,KSQ
2884,2884,217320,KR7217320001,썬테크,KONEX,일반기업부,1800,1,100,5.88,1600,1800,1600,125,212300,1890000000,1050000,KNX
2885,2885,288490,KR7288490006,나라소프트,KONEX,일반기업부,105,0,0,0.00,0,0,0,0,0,1834515585,17471577,KNX
2886,2886,149300,KR7149300006,아퓨어스,KONEX,일반기업부,39,5,-6,-13.33,40,43,39,187380,7448157,1773963828,45486252,KNX
2887,2887,279060,KR7279060008,이노벡스,KONEX,일반기업부,115,0,0,0.00,0,0,0,0,0,1127904590,9807866,KNX